
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin:15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0px;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px 80px;*/
    background-color: beige;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position:sticky;  /* da ne dobijemo onaj side za pomjeranje*/
    top:0;
    left:0;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    position: relative;
    padding: 0px 20px;

}
#navbar li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: grey;
}
#navbar li a:hover,
#navbar li a.active{  /* trenutno smo na toj stranici*/
    color:  #C4A484;

}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background:  #C4A484;


}

/*homePage*/

#mainKontent{
    background-image: url("../projekat1/img/homePik.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 30px;
}

#shop{
    width: 227px;
    background-image: url("../projekat1/img/button.png");
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    color: grey;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    padding:17px 80px 14px  60px;
}
    
#mainKontent h4{
    padding-bottom: 15px;

}
#mainKontent h1{

    color: grey;

}
#feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align:center;
    padding:25px 15px;
    box-shadow: 20px 20px 35px rgba(0,0,0,0.03);
    border: 1px solid #C4A484;
    margin: 15px 0;
}

#feature .fe-box:hover{
    
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}


#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color: beige;

}
 footer{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 footer .logo{
     margin-bottom: 30px;

 }

 footer h4{
     font-size: 14px;
     padding-bottom: 20px;
 }

 footer p{
    font-size: 13px;
    margin: 0,0,5px,0;
}

footer a{
    font-size: 13px;
    text-decoration:none;
    color: #222;
    margin-bottom: 10px;
}
 footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
/* Shop page */
#produkt1{
 text-align: center;   

}
.pro-kontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#produkt1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative; /*svaki pt kad korisitmo position absolute u čajldu, onda u parent elementu mora biti position relativw*/
   }

   #produkt1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
   }

   #produkt1 .pro img{
       width:100%;
       border-radius: 20px;
   }

   #produkt1 .pro .des{
       text-align: start;
       padding: 10px 0;

   }

   
   #produkt1 .pro .des span{
        color: #606063;
        font-size: 12px;
   }

   #produkt1 .pro .des h5{
       padding-top: 7px;
       color: #1a1a1a;
       font-size: 14px;
   }

   #produkt1 .pro .des i{
       font-size: 12px;
       color: rgb(243,181,25);
   }

   #produkt1 .pro .des h4{
    padding-top: 7px;
    font-size: 14px;
    font-weight: 700;
    color: #088178;
}

#produkt1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ae;
    font-weight: 500;
    color: #088178;
    border-color: 1px solid  #c3ce96;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#pagination{
 text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding:15px 20px;
    border-radius: 4px;
    color: white;

   }

   #pagination a i{
       font-size: 16px;
       font-weight: 600;
   }

   /* single product*/
   #prodetails{
       display: flex;
       margin-top:20px;

   }
   #prodetails .single-pro-details{
       width: 50%;
       padding-top: 30px;
   }

   #prodetails  h4{
       padding: 40px 0 20px 0;
   }

   #prodetails  h2{
    font-size: 20px;
    
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails input{
    width:50px;
    height:36px;
    padding-left:10px;
    padding-top: 5px;
    font-size:16px;
    margin-right: 10px;
}
 button {
    background-color:  #088178;
    color: white;


}

   #prodetails .single-pro-image{
       width:40%;
       margin-right: 50px;

   }

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 20%;
    cursor:pointer;
}